<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Student Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
    
    
    <div class="container my-5">
        <center><h3> Add New Student</h3></center>
        <a th:href = "@{/students}" class="btn btn-outline-dark mb-3">Back</a>
        <div class="card">
            <div class="card-body">
                <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center ">
                    <form th:action="@{/students}" th:object="${student}" method="post">
                        <div class="row">

                            <div class="form-group col-md-8">
                                <label>Student Name</label> 
                                <input type="text" th:field="*{Name}" class="form-control" 
                                 id="Name" placeholder="Enter Full Name" pattern="[A-Za-z ]+" required/>
                            </div>
                
                            <div class="form-group col-md-8">
                                <label>Age</label> 
                                <input type="number" th:field="*{age}" class="form-control" 
                                id="age" placeholder="Age" min="3" max="30" required/>
                            </div>

                            <div class="form-group col-md-8">
                                <label>Email</label> 
                                <input type="text" th:field="*{email}" class="form-control" 
                                id="email" placeholder="user@example.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required/>
                            </div>

                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>

                            <input type="hidden" id="id" th:field="*{id}">
    
                        </div>
                    </form>
                   
                </div>
            </div>
        </div>
    </div>
</body>

</html>